layout {
    new_tab_template{
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane {
            children
        }
    }
    tab name="Code" focus=true {
        pane size=1 borderless=true{
            plugin location="compact-bar"
        }
        pane command="nvim" {
        }
    }
    tab name="Exec" {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane
    }
    tab name="Git" {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane command="lazygit"{
        }
    }
}
